ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

li {
  float: left;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 16px;
  text-decoration: none;
}

li a:hover {
  color: white;
  text-decoration: underline;
}




.content {
    max-width: 1200px;
    max-width: 868px;
    margin: 0px auto 0px auto;
    padding: 0 3px;
    text-align: center;
}
.t3-header {
    padding-top: 40px;
    padding-bottom: 5px;
    padding-left: 42px;
    background-color: #222222;
}
.span8 {
    width: 750px;
}


.vpra {
    float:right;margin: 0 0 21px 0;vertical-align:top;
}
.lefd {
    float:left;margin: 0 0 20px 0;vertical-align:top;
}
.tab1 {
    width: 330px;
}
.tab2 {
    width: 678px;background: url(https://1.bp.blogspot.com/-h7rFKRllYOM/YG83DOr_rdI/AAAAAAAADmE/rYqQGbDyRfcAlg7CjPd2NUo8HOfX5qISgCLcBGAsYHQ/s1600/Sfoot2.png) repeat-x scroll left bottom transparent;
padding: 0 0 10px 0;
}
.tab2h {
    width: 678px;
}

.nad2 {
    background: url(https://2.bp.blogspot.com/-on1R_WgwvAo/VGe4eYbUIVI/AAAAAAAAAiw/PkheBQkF5tY/s1600/nad2.png) no-repeat transparent; padding: 0 0 0 15px; text-align: left;
}
.nad3 {
    background: url(https://1.bp.blogspot.com/-lVJKL0uD5Lo/YG81cviOY4I/AAAAAAAADlo/hvYv4KlJBnY4UBtKV30Urpz9ikSPUbzyACLcBGAsYHQ/s1600/Snad3.png) repeat-x scroll left top transparent; padding: 0 0 0 15px; text-align: left;
}
.nad4 {
    background: url(https://1.bp.blogspot.com/-OJNZSwIOQgM/YG81dM9hrXI/AAAAAAAADlw/uXOC1UgJAeU-rKWgHdIJ9uCcYVp2hlh7wCLcBGAsYHQ/s1600/Snad4.png) repeat-x scroll left top transparent; padding: 0 0 0 15px; text-align: left;
}
.nad5 {
    background: url(https://1.bp.blogspot.com/-oKJ9U8nY1o4/YG81dQY6Y1I/AAAAAAAADl0/HHwYEnVn5C4ZyElYP_wMgFF0HXUIgzn1gCLcBGAsYHQ/s1600/Snad5.png) repeat-x scroll left top transparent; padding: 0 0 0 15px; text-align: left;
}
.gad {
    width: 200px;
    margin: 10px 0 20px 5px;
}
.gadn {
    background: url(https://1.bp.blogspot.com/-Jh7BR8MK3ms/X4MewQOVWSI/AAAAAAAAFtY/bHHa7Z7_OzYOw8fCGN3sGJqctVJUZ2UUACLcBGAsYHQ/s1600/nad-gad.png) no-repeat transparent;padding: 0 0 0 15px;text-align: left;width: 230px;
}
.tdf2 {
 line-height: 11px;white-space: pre;
}

.scr {
    background: url(https://4.bp.blogspot.com/-K-5V33A4cAM/VGe4fripQ0I/AAAAAAAAAiY/MQbkD1SgUBY/s1600/screen.png) no-repeat transparent; padding: 5px 5px 9px 5px;
}
.scr2 {
    background: url(https://2.bp.blogspot.com/-Wk5IzpWzmOY/VHNUYMNqfeI/AAAAAAAAApc/5hquq92T2lY/s1600/scr-home.png) no-repeat transparent; padding: 5px 5px 15px 5px;
}


.td1 {
    background-color: #383838;padding: 5px 0 5px 12px; text-align: left; width: 50%;color: #DDDDDD;border: 1px solid #000;
}
.td2 {
    background-color: #383838;padding: 5px 0 5px 12px; text-align: left; width: 50%;color: #DDDDDD;border: 1px solid #000;
}
.td3 {
    background: url(https://1.bp.blogspot.com/-LGYHgd3coPA/YG8qfpXJtyI/AAAAAAAADk8/ZSRoVQcu8zUHFnxA48vDQo_W61vZrtCYwCLcBGAsYHQ/s1600/Stab3.png) repeat-y scroll transparent left top;padding: 6px 0 6px 16px;text-align: left;width: 35%;vertical-align: top;font-size: 12px;border-right: 1px solid #000;
}
.td4 {
    background: url(https://1.bp.blogspot.com/-oDDUkkAtufk/YG8qgSBEPwI/AAAAAAAADlA/uqI5g-BeaD8p0glFzR3kAifN7YNdA-zeACLcBGAsYHQ/s1600/Stab4.png) repeat-y scroll transparent right top;padding: 6px 12px 6px 12px;text-align: left;width: 65%;font-size: 12px;
}
.td99 {
    background-color: #383838;padding: 6px 6px 3px 6px; text-align: center;border: 1px solid #000;
}
.home {
    background-color: #383838; text-align: center;padding: 5px;
}
.hom2 {
    background-color: #40474B; text-align: left;background: url(https://blogger.googleusercontent.com/img/b/R29vZ2xl/AVvXsEgyPRnlxTlC5svru7n73tcI9fLzuSQz-w6Sj8EjkiLtkf2dnbr1R9wWGPddH8FQM_a4j-J_A2n8wPPHBQFp0oHXyGsBhOhk6hX5qTulI-9-BeZ9v6UXTPzN2fnbQ8exVxtvomBJGjyYNcviUkx0ggDPi04zQd0SDxreC3CzkuvFO3mA5Vx1Bkkg2lvd_JRO/s16000/home.png) repeat-y scroll left bottom transparent;
	padding: 15px;font-size: 16px;
}

.td2a {
    background-color: #383838;padding: 5px 0 5px 12px; text-align: left; width: 50%;color: #FFD23A;border: 1px solid #000;font-weight: bold;
}
.td4a {
    background-color: #383838;padding: 5px 20px 5px 12px; text-align: left; width: 65%;color: #FFD23A;border: 1px solid #000;font-weight: bold;
}
.stab1 {
    width: 328px;background: url(https://1.bp.blogspot.com/-WonAZX6NwYg/VNOenEw8QdI/AAAAAAAAAjc/w67zpBO5phg/s1600/Sfoot1.png) repeat-x scroll left bottom transparent;padding: 0 0 10px 0;
}
.stab2 {
    width: 678px;background: url(https://4.bp.blogspot.com/-alsNIzZWA94/VNOenDFtMxI/AAAAAAAAAj0/fmZ_Lvi4Dcg/s1600/Sfoot2.png) repeat-x scroll left bottom transparent;padding: 0 0 10px 0;
}
.stab3 {
    width: 678px;padding: 0 0 10px 0;
}

.snad1 {
    background: url(https://4.bp.blogspot.com/-FkEPgI0hIzk/VNOenBe1HEI/AAAAAAAAAjg/T4Zm3rCNLlc/s1600/Snad1.png) no-repeat transparent; padding: 0 0 0 15px; text-align: left;
}
.snad2 {
    background: url(https://3.bp.blogspot.com/-R6t_gpYs9aA/VNOennuSaBI/AAAAAAAAAjw/Q9IhwLB06-o/s1600/Snad2.png) no-repeat transparent; padding: 0 0 0 15px; text-align: left;
}
.snad3 {
    background: url(https://4.bp.blogspot.com/-wgQNQu-4vcQ/VNOen3VhRnI/AAAAAAAAAjs/_jXDaZwSwj8/s1600/Snad3.png) repeat-x scroll left top transparent; padding: 0 0 0 15px; text-align: left;
}
.snad4 {
    background: url(https://2.bp.blogspot.com/-E2pVTfwjMwM/VNOeomEcd4I/AAAAAAAAAlA/JPiGcz2-Pgg/s1600/Snad4.png) repeat-x scroll left top transparent; padding: 0 0 0 15px; text-align: left;
}
.snad5 {
    background: url(https://2.bp.blogspot.com/-sgi7tKPp4QQ/VNOeozqsD3I/AAAAAAAAAj8/vtxbzXDMUxo/s1600/Snad5.png) repeat-x scroll left top transparent; padding: 0 0 0 15px; text-align: left;
}
.snad6 {
    background: url(https://blogger.googleusercontent.com/img/b/R29vZ2xl/AVvXsEhSR6Cx3X8T-S9mBLXDl5mCNnX8T8WKdvA8t-W6Y35O2e9KViJk6nwJxV6HUdiZg7FsIifqdKbHs1fzxasmVwTAIQrpRyRNQs_7DZpLiXGIdDJ5R5ijhFbuV6HQIjkndZ1LsTWrJv5RP2WSS7jexvWK27Qqa7ijTGgLKVE7lJiE9B2jaewCeN2hnAjlfJUV/s16000/Snad6.png) repeat-x scroll left top transparent; padding: 0 0 0 15px; text-align: left;
}

.tdh1 {
 background: url(https://1.bp.blogspot.com/-aGxPhsyYqvE/X4MuIMQGzoI/AAAAAAAAFtw/oc6tArdddH0zZVoufWvDTaeQdyYVh-bHACLcBGAsYHQ/s1600/hm1.png) repeat-y left top #40474B;padding: 8px 15px 8px 15px; text-align: left;
}
.tdh2 {
 background: url(https://1.bp.blogspot.com/-yzsOeiSP9Zs/X4MuITi39iI/AAAAAAAAFt0/Yx1e8_MZdxghTQBuBlBsD5DV4KfGx7CzgCLcBGAsYHQ/s1600/hm2.png) repeat-y left top #40474B;padding: 8px 15px 8px 15px; text-align: left;
}

.xxx {
 line-height: 10px;
}

.std3 {
    background: url(https://4.bp.blogspot.com/-g_Fq7qMXcX4/VNOep9hrheI/AAAAAAAAAkM/LuSfLVdBFcI/s1600/Stab3.png) repeat-y scroll transparent left top;padding: 6px 0 6px 16px; text-align: left; width: 35%;vertical-align: top;font-size: 12px;border-right: 1px solid #000;
}
.std4 {
    background: url(https://1.bp.blogspot.com/-iamlydsleKA/VNOeqBZXNiI/AAAAAAAAAkQ/bAUcugvTq9s/s1600/Stab4.png) repeat-y scroll transparent right top;padding: 6px 12px 6px 12px; text-align: left;width: 65%;font-size: 12px;
}
.std4 a {
    color: #FDAD36;
}
.td5 {
    background-color: #383838;padding: 6px 6px 3px 6px; text-align: center;background: url(https://1.bp.blogspot.com/-aGxPhsyYqvE/X4MuIMQGzoI/AAAAAAAAFtw/oc6tArdddH0zZVoufWvDTaeQdyYVh-bHACLcBGAsYHQ/s1600/hm1.png) repeat-y scroll left bottom transparent;
}


.E100 {
	background: url(https://blogger.googleusercontent.com/img/b/R29vZ2xl/AVvXsEiKUqrf2ZfI2BvXHBeEn06N80mQSy6UD73hF-CS8VeRWBuf7Tt2pq_4oLd4u5L2niuwIU8E_WF8DdN4gpQYqsQ5w3yJ-UgZIIEs4Lr9nXcUxmpuoJ-KMWtsRD2OE7NMPdI6ox5zpnd_K0_ylbsor5JP7u3uvP2ATXqus436q-7xJGKfoWG4wXKGjifqFI-A/s16000/review.png) no-repeat left top;
	display:block;
	width: 165px;
	height: 19px;
    color: #fff;
	text-decoration:none;
        text-align: left;
	padding:7px 0 3px 55px;
	margin: 0px auto;
	font-weight:bold;
	font: 14px/16px Helvetica;
}
.E100:hover{
	background-position:left bottom;
    color: #fff;
}

.vis1 {
	background: url(https://1.bp.blogspot.com/-xx4TQWK85UY/XvI0kVP6HKI/AAAAAAAACMY/UGb0IGos1uQz157nDrfNeHCzZuFQBgOZgCLcBGAsYHQ/s1600/vis1a.png) no-repeat right top;
	display:block;
	width: 100%;
	height: 31px;
  	color: #ffffff;
        text-align: center;
	text-decoration:none;
	padding:10px 0 0 0;
	margin: 0px auto;
        font-weight:bold;
}
.vis1:hover{
	background-position:right bottom;
	color: #ffffff;
}

.vis2 {
	background: url(https://1.bp.blogspot.com/-fLZv4e_9KR4/X4MiOu5ObVI/AAAAAAAAFtg/NXeG44Rd288tYWMBMF9xQgo00l3VGYSkgCLcBGAsYHQ/s1600/vss2.png) no-repeat right bottom;
	display:block;
	width: 426px;
	height: 25px;
        text-align: left;
	text-decoration:none;
	padding:6px 0 1px 252px;
	margin: 0px auto;
    color: #fff;
}
.vis2:hover{
	background-position:right top;
	color: #fff;
	text-decoration:underline;
}
.zzz{
	background: url(https://1.bp.blogspot.com/-rc4r29yF8oc/XvIwXxbhleI/AAAAAAAACLw/OjabP3cxlVE4wP8UWokoHMtAptWjtmrFQCLcBGAsYHQ/s1600/ban-girl.png) no-repeat left top;
	display:block;
	width: 220px;
	height: 330px;
    padding:0 0 20px 0;
}


.bug3 {
	background: url(https://1.bp.blogspot.com/-j47sRI5hNto/YG8F5Ml5MWI/AAAAAAAADkc/H4oygLPzm20tP6F--LUS6Uy6N2ByTcosQCLcBGAsYHQ/s1600/mg1.png) no-repeat left top;
	display:block;
	width: 99px;
	height: 19px;
        text-align: left;
	text-decoration:none;
	padding:6px 0 4px 10px;
	margin: 0px auto;
	color: #ffffff;
	font: 14px/16px Helvetica;
}
.bug3:hover{
	background-position:left bottom;
  	text-decoration:none;
	color: #ffffff;
}
.bug4 {
	background: url(https://1.bp.blogspot.com/-wOAdpjoHeZw/YG8F5CHvEjI/AAAAAAAADkY/FyVl5ocrrv0Vf78GwwE8rjrUvjVJVeffwCLcBGAsYHQ/s1600/mg2.png) no-repeat left top;
	display:block;
	width: 100px;
	height: 19px;
        text-align: left;
	text-decoration:none;
	padding:6px 0 4px 10px;
	margin: 0px auto;
	color: #ffffff;
	font: 14px/16px Helvetica;
}
.bug4:hover{
	background-position:left bottom;
  	text-decoration:none;
	color: #ffffff;
}

.xyz {
    text-align: center; width: 50%;
}
.tdh {
    background-color: #383838;padding: 5px 12px; text-align: left; color: #DDDDDD;text-align: justify;
}
.bann2 {
    background-color: #161616; width: 670px;height: 1px;vertical-align:top;
}
.custom {
    text-align: center;
}
.main {
    background-color: #161616;width: 958px;height: 100%;border-radius: 10px;border: 1px solid #555555;display: table;
}

.post {
    float:right;background-color: #161616;padding-bottom: 40px;padding-right: 10px;width: 71%;vertical-align:top;position: static;
}
.menug {
    float: left;padding: 5px;border-radius: 10px;background-color: #161616;width: 25%;position: static;
}


.tdz1 {
    background: url(https://blogger.googleusercontent.com/img/b/R29vZ2xl/AVvXsEjOw_oaxHEgR8u4TXzgha5iQYywHD3JvczPmPCK0f1cLGdKA8NCRFG3AcETESplYB5JcaBzDDIcQ7yn3rl38T43iXf78bEo6RdqjvDGJ_2hYxD1tVQEImQJGJRU9R7LAnopXE7dOOl5gkMRyX5imNooNzxo6TpcynJQ0p9rAPO9SwJekx1P8TAPSyxPe0H6/s16000/Stab3.png) repeat-y scroll transparent left top;text-align: center;width: 33%;vertical-align: top;font-size: 20px;border-right: 1px solid #000;line-height: 60px;background-color: #40474B;
}
.tdz2 {
    background-color: #474B40;text-align: center;width: 34%;vertical-align: top;font-size: 20px;border-right: 1px solid #000;line-height: 60px;
}
.tdz3 {
    background: url(https://blogger.googleusercontent.com/img/b/R29vZ2xl/AVvXsEjMEbI5SwlJ4L30vBx2tdMgBWs28T3KVAxKvpI4GjH4Zvawkg27mzK9y7O-GDmckiHxCtl_LLQ5UTTVclDuqENvSOJlzJmQUvaPz-4eES_kYHADUiKmgKT4s4glPSIdo2LE9SyDYKQ0SgLvWv0PkbIeJ0X6yKzopRQvDbyukLtq_Ow5iFdkNdndrbOGerCU/s16000/Stab5.png) repeat-y scroll transparent right top;text-align: center;width: 33%;vertical-align: top;font-size: 20px;border-left: 1px solid #000;line-height: 60px;background-color: #40474B;
}

.bugf {
	display:block;
	text-decoration:none;
	color: #FFF;
}
.bugf:hover{
  	text-decoration:underline;
	color: #3AD2FF;
}

.shr {
    width: 239px;
	height: 326px;
	margin:10px 0 0 0;
	background: url(https://blogger.googleusercontent.com/img/b/R29vZ2xl/AVvXsEip54k5Ib-QvBUwFP8H4oZSKhyphenhyphenLPe5T2dCJ1NgBjPITdtUsHJupGyNjUVHwdBogI-1RAHVOHdvYMgMZmOTl-4ifRHHT9cnWoUurMbd5c2Fd-9c3lmxrz2qT0NnP-4tJytVZ5T1x5bBNm0i4JKGWu1dgMtlF7kmoas8tC1yQL8Qv_6rF0PTlAFdWVpOCgCVI/s16000/share.png) no-repeat transparent;
}


